#body{
    height: 100%;
    width: 100%;
    position: absolute;
    background: #f2f2f2;
}
#menu{
    width: 240px;
    height: 100%;
    position: absolute;
    background: #ffffff;
    box-shadow: #00000010 2px 2px 2px 2px ;//边框阴影
}
#menu div{
    padding-top: 80px;
}
#menu .menu_but1{
    border: 1px solid #007BFF15;
    outline: none;
    height: 50px;
    width: 100%;
    background: #007BFF15;
    color: #007BFF;
}
#menu .menu_but2{
    border: 1px solid #007BFF40;
    outline: none;
    height: 50px;
    width: 100%;
    background: #ffffff;
    color: #007BFF;
}
#menu ul{
    list-style-type:none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    display: none;
}
#menu ul li{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    color: #007BFF;
}
#menu ul li img{
    margin-right: 15px;
}
#menu ul li:hover{
    background: #f2f2f2;
}
#chart{
    height: 88%;
    margin-top: 100px;
    margin-left: 255px;
}
#chart .divs{
    margin-top: 30px;
    width: 89%;
    height: 30%;
    margin-left: 5%;
}
#Bar_message{
    background: #ffffff;
    box-shadow: #00000010 2px 2px 2px 2px ;//边框阴影
}
#Columnar{
    width: 48%;
    height: 100%;
    float: left;
    background: #ffffff;
    box-shadow: #00000010 2px 2px 2px 2px ;//边框阴影
}
#Sector{
    width: 48%;
    height: 100%;
    float: right;
    background: #ffffff;
    box-shadow: #00000010 2px 2px 2px 2px ;//边框阴影
}
#Is_1{
    width: 30%;
    height: 100%;
    float: left;
    text-align: center;
    margin-right: 5%;
    background: #ffffff;
    box-shadow: #00000010 2px 2px 2px 2px ;//边框阴影
}
#Is_2{
    width: 30%;
    height: 100%;
    float: left;
    text-align: center;
    background: #ffffff;
    box-shadow: #00000010 2px 2px 2px 2px ;//边框阴影
}
#Is_3{
    width: 30%;
    text-align: center;
    height: 100%;
    float: right;
    background: #ffffff;
    box-shadow: #00000010 2px 2px 2px 2px ;//边框阴影
}