<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbrd.Dao.GroupingDao">
    <!--查询车辆的分组-->
    <select id="GroupingList"   resultType="com.hbrd.Model.Grouping" >
        select * from grouping WHERE UserId=#{param1}
    </select>
</mapper>