<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbrd.Dao.MessageDao">
    <!--添加车辆信息-->
    <insert id="InputTerminusMessage" parameterType="com.hbrd.Model.Message">
         INSERT INTO message VALUES (null,#{CarId},#{CarX},#{CarY},#{CarBasis},#{CarWarning},#{CarBms},#{IsWarning},#{Date},#{Time});
    </insert>
    <!--查询车辆最后一条信息-->
    <select id="DescMessage"   resultType="com.hbrd.Model.Message" >
        select * from message WHERE CarId=#{param1}  ORDER BY MessageId DESC LIMIT 1
    </select>
</mapper>